onnxMLDeployment/

TreeTaggerModule/.vs/
TreeTaggerModule/Backup/
TreeTaggerModule/old/
TreeTaggerModule/TreeTaggerModule/obj/
TreeTaggerModule/TreeTaggerModule/bin/

TreeTaggerOnnx/.vs/
TreeTaggerOnnx/packages/
TreeTaggerOnnx/x64
TreeTaggerOnnx/OnnxGPUdlls/
TreeTaggerOnnx/models/*.onnx

TreeTagger_old/*.h5
TreeTagger_old/*.png






